@model IEnumerable<MobileShop.Core.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<partial name="_AlertNoti" />

<div class="container-fluid px-4">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <a class="btn btn-info btn-lg" href="/admin/productadmin/create">Thêm sản phẩm</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Thông tin tất cả các sản phẩm
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Mã Sản Phẩm</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Giá bán</th>
                        <th>Số lượng</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.ProductName</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td style="text-align: center;">
                                <a class="btn btn-warning" href="/admin/productadmin/update/@item.ProductId">Update</a>
                        </td>
                        <td style="text-align: center;">
                                <a onclick="return confirm('Bạn có chắc muốn xóa')" class="btn btn-danger" href="/admin/productadmin/delete/@item.ProductId">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>